:root {
    --purpleBlue: #877aff;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    background-color: rgb(198, 128, 255);
    overflow: hidden;
}

.cart-table {
    display: none;
    width: 85%;
    margin: 80px auto 0 auto;
    border-spacing: 0px;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.cart-table th {
    height: 70px;
    background-color: var(--purpleBlue);
    color: white;
    font-weight: bold;
    font-size: 1.4em;
}

.cart-table th:nth-child(1) {
    width: 5%;
}

.cart-table th:nth-child(2) {
    width: 45%;
}

.cart-table th:nth-child(3) {
    width: 10%;
}

.cart-table th:nth-child(4) {
    width: 25%;
}

.cart-table th:nth-child(5) {
    width: 15%;
}

.cart-table td {
    height: 100px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.cart-table tr {
    border-bottom: 1px solid var(--purpleBlue);
}

.cart-table tr:nth-of-type(even) {
    background-color: rgb(184, 119, 236);
}

.product {
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 100px 45%;
}

.imgproduct {
    grid-column-start: 1;
    grid-column-end: 2;
    max-width: 100px;
    height: auto;
    max-height: 80px;
}

.textproduct {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 25px;
    text-align: center;
}

td>button {
    margin: 0 auto 0 auto;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-weight: bold;
    color: rgb(244, 208, 255);
    background-color: var(--purpleBlue);
    border: 3px solid transparent;
    padding-bottom: 3px;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    transition: 0.15s;
    transition-duration: 0.2s;
}

td>button:hover {
    background-color: whitesmoke;
    background-clip: border-box;
    color: var(--purpleBlue);
    border: 3px solid var(--purpleBlue);
}

td>button:active {
    background-color: rgb(230, 230, 230);
    background-clip: border-box;
    color: #7667ff;
    border: 3px solid #7667ff;
}

.plusbtt {
    border-radius: 100px 0px 0px 100px;
}

.minusbtt {
    border-radius: 0px 100px 100px 0px;
}

.quantnumber {
    width: 28px;
    height: 32px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
    font-size: x-large;
}

#tableTotal {
    border-radius: 0 0 10px 10px;
    margin-top: 0;
}

#tableTotal tr {
    border-bottom: none;
}