:root {
    --purpleBlue: #877aff;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    background-color: rgb(198, 128, 255);
    overflow: hidden;
}

#cart-table {
    display: block;
    width: 85%;
    margin: 80px auto 0 auto;
    border-spacing: 0px;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

#tablePrincipal {
    display: none;
}

#tableTotal {
    display: none;
}

.thead {
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20%;
    background-color: var(--purpleBlue);
}

.th {
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 15px;
    text-align: center;
}

.th1 {
    grid-column-start: 1;
    grid-column-start: 2;
}

.tr {
    display: grid;
    grid-template-columns: 15% 20% 20% 20% 20%;
    border-bottom: 1px solid var(--purpleBlue);
    height: 100px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.tr:nth-of-type(even) {
    background-color: rgb(184, 119, 236);
}

.marginBtn {
    margin-top: 30px;
}

.marginText {
    margin-top: 35px;
}

.td1 {
    display: flex;
    gap: 20px;
}

.product {
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 100px 45%;
}

.imgproduct {
    grid-column-start: 1;
    grid-column-end: 2;
    max-width: 100px;
    height: auto;
    max-height: 80px;
    margin-top: 10px;
}

div>button {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-weight: bold;
    color: rgb(244, 208, 255);
    background-color: var(--purpleBlue);
    border: 3px solid transparent;
    padding-bottom: 3px;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    transition: 0.15s;
    transition-duration: 0.2s;
}

div>button:hover {
    background-color: whitesmoke;
    background-clip: border-box;
    color: var(--purpleBlue);
    border: 3px solid var(--purpleBlue);
}

div>button:active {
    background-color: rgb(230, 230, 230);
    background-clip: border-box;
    color: #7667ff;
    border: 3px solid #7667ff;
}

.plusbtt {
    border-radius: 100px 0px 0px 100px;
}

.minusbtt {
    border-radius: 0px 100px 100px 0px;
}

.quantnumber {
    width: 28px;
    height: 32px;
    margin: 0px 5px 0px 5px;
    display: inline-block;
    font-size: x-large;
}

#tableTotal {
    border-radius: 0 0 10px 10px;
    margin-top: 0;
}

#tableTotal .tr {
    border-bottom: none;
}

#address-info {
    margin: 80px auto 0 auto;
    width: 80%;
    height: 40em;
    /*border: 5px solid black;*/
}

#address-block {
    width: 100%;
    height: 32em;
    padding-top: 20px;
    background-color: var(--purpleBlue);
    border-radius: 80px 4px 80px 4px;
    text-align: center;
}

.icon {
    width: 80px;
    height: 80px;
    color: white;
}

h2 {
    color: white;
}

label {
    color: white;
    font-weight: bold;
}

.address {
    margin-top: 10px;
    height: 40px;
    padding: 0 10px 0 10px;
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid #acabab;
    background-color: #e9e8e8;
    color: rgb(152, 46, 240);
    text-align: center;
}

.address:focus {
    outline: 3px solid rgb(198, 128, 255);
}

#block1 {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid black;*/
}

#block1 div:nth-child(1) {
    width: 60%;
    /* border: 1px solid black;*/
}

#block1 div:nth-child(1) input {
    margin-top: 10px;
    width: 100%;
}

#block1 div:nth-child(2) {
    width: 35%;
    /*border: 1px solid black;*/
}

#block1 div:nth-child(2) input {
    margin-top: 10px;
    width: 100%;
}

#block2 {
    margin: 30px auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid black;*/
}

#block2 div:nth-child(1) {
    width: 50%;
    /*border: 1px solid black;*/
}

#block2 div:nth-child(1) input {
    margin-top: 10px;
    width: 100%;
}

#block2 div:nth-child(2) {
    width: 15%;
    /*border: 1px solid black;*/
}

#block2 div:nth-child(2) input {
    margin-top: 10px;
    width: 100%;
}

#block2 div:nth-child(3) {
    width: 30%;
    /* border: 1px solid black;*/
}

#block2 div:nth-child(3) input {
    margin-top: 10px;
    width: 100%;
}

#block3 {
    margin: 30px auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black;*/
}

#block3 div:nth-child(1) {
    width: 40%;
    /*border: 1px solid black;*/
}

#block3 div:nth-child(1) input {
    margin-top: 10px;
    width: 100%;
}

#block3 div:nth-child(2) {
    width: 30%;
    /*border: 1px solid black;*/
}

#block3 div:nth-child(2) input {
    margin-top: 10px;
    width: 100%;
}

#block3 div:nth-child(3) {
    width: 25%;
    /*border: 1px solid black;*/
}

#block3 div:nth-child(3) input {
    margin-top: 10px;
    width: 100%;
}

#btn-finalizar {
    margin: 30px auto 50px auto;
    display: block;
    width: 220px;
    height: 60px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #8375ff, #9553ff);
    border: 0;
    font-size: 1em;
    cursor: pointer;
}

#btn-finalizar:hover {
    background: linear-gradient(to left, #8375ff, #9553ff);
    color: white;
}

#login{
    width: 40%;
    height: 35em;
    margin: 5em auto 0 auto;
    border-radius: 20px 20px 20px 20px;
    background-color: var(--purpleBlue);
    text-align: center;
}

#key{
    margin-top: 50px;
}

#login h1,h2{
    margin-top: 20px;
    color: white;
}

#login h3{
    color: white;
    margin: 40px auto 40px auto;
}

#login a {
    margin: 30px auto 0 auto;
    display: block;
    outline: 0;
    border: 0;
    width: 220px;
    height: calc(60px - 15px);
    padding-top: 15px;
    border-radius: 50px;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #8b42ff, #7769ff);
    cursor: pointer;
}

#login a:hover {
    background: linear-gradient(to left, #8b42ff, #7769ff);
    color: white;
}