:root {
    --purpleBlue: #8b80ec;
    --cinzaclaro: #c2c2c2;
  }

*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    background-color: rgb(198, 128, 255); 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconify { 
    margin-top: 30px;
    width: 80px;
    height: 80px;
    color: white; 
} 


h1{
    font-size: 3em;
    font-weight: bold;
    color: white;
}

p{
    margin: 10px 0 0 0;
    font-size: 1.2em;
    color: white;
}

.icon{
    display: block;
    margin: auto;
}

#resumo{
    margin: 40px 0 120px 0;
    width: 55%;
    min-height: 70em;
    background-color: var(--purpleBlue);
    border-radius: 20px;
}

#resumo > h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

#resumo > hr{
    width: 90%;
    height: 1px;
    border: none;
    margin: 10px auto 10px auto;
    color: var(--cinzaclaro); /* old IE */
    background-color: var(--cinzaclaro); /* Modern Browsers */
}

#pedido{
    margin: 0 auto;
    width: 90%;
    min-height: 9em;
    display: flex;
    flex-direction: row;
}

#icon-info{
    height: 100px;
}

#info{
    width: 80%;
    min-height: 9em;
    margin-left: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#info div{
    width: 50%;
    text-align: center;
}

#info div > p{
    margin: 0;
    font-size: 0.8em;
    word-wrap: break-word;
}

#organizer{
    margin: 10px auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#organizer > hr{
    width: 1px;
    min-height: 20em;
    border: none;
    color: var(--cinzaclaro); /* old IE */
    background-color:var(--cinzaclaro); /* Modern Browsers */ 
}

#address{
    margin-right:2%;
    width: 60%;
    min-height: 20em;
}

#address > p{
   width: 80%;
   margin: 0 auto 10px auto;
   font-weight: bold;
   color: white;
   text-align: center;
}

#address-info{
    margin: 0 auto;
    width: 90%;
    color: white;
    text-align: center;
}

#address-info > p{
    margin: 0 0 8px 0;
    font-size: 0.8em;
    word-wrap: break-word;
}

#price{
    margin: 0 auto;
    width: 40%;
    min-height: 20em;
}

#price > p{
    width: 80%;
    margin: 0 auto 10px auto;
    font-weight: bold;
    color: white;
    text-align: center;
 }

 #price-info{
    margin: 0 auto;
    width: 90%;
    color: white;
    text-align: center;
}

#price-info > p{
    margin: 0;
    font-size: 0.8em;
    word-wrap: break-word;
}

#products{
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
    min-height: 15em;
}

#products-info{
    margin: 20px auto 0 auto;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 10px 10px 0 0;
}

#products-info th{
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
    outline: 1px solid var(--cinzaclaro);
}

#products-info th:first-child{
    border-radius: 10px 0 0 0;
}

#products-info th:last-child{
    border-radius: 0 10px 0 0;
}

.tdTable{
    height: 50px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    word-wrap: break-word;
}

#products-info th:nth-child(1) {
    width: 45%;
}

#products-info th:nth-child(2) {
    width: 10%;
}

#products-info th:nth-child(3) {
    width: 20%;
}

#products-info th:nth-child(4) {
    width: 20%;
}

#tempoFrete{
    margin: 30px auto 0 auto;
    width: 500px;
    height: 40px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

#confirm{
    margin: 30px auto 50px auto;
    display: block;
    width: 220px;
    height: 60px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right,#8375ff, #9553ff);
    border: 0;
    font-size: 1em;
    cursor: pointer;
}

.return{
    margin: 0;
    width: 30px;
    height: 20px;
}

#confirm:hover{
    background: linear-gradient(to left, #bf75ff, #8d53ff);;
    color: white; 
}

#confirm:hover > .return{
    color: white;
}