* {
    margin: 0;
    padding: 0;
    outline: 0;
}

h3 {
    color: rgb(233, 230, 255);
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.flex-container>div {
    margin: 20px;
    padding: 20px;
    font-size: 30px;
}

.card {
    background-color: #ba8fff;
    box-shadow: 0 0 0.8em #8e82ff;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 20px 4px 20px 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price {
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}

.divimage {
    height: 180px;
}

.image {
    max-width: 170px;
    height: auto;
    max-height: 170px;
}

.addCartbtt {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background: linear-gradient(to right, #8375ff, #9553ff);
    /*background: linear-gradient(to right, #d269fc, #9d53ff);*/
    text-align: center;
    cursor: pointer;
    width: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px 30px 30px 30px;
    transition: 0.3s;
    opacity: 0.85;
}

.addCartbtt:hover {
    opacity: 1;
    background: linear-gradient(to left, #8375ff, #9553ff);
}

.navbar {
    padding-bottom: 3rem;
}

.nav-list {
    background: #df7699;
    box-shadow: 0px 0px 10px gray;
    margin: 0;
    padding: 1rem 0;
    border-radius: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item:first-child {
    margin-right: auto;
}