body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 120px 45px auto 200px;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 120px;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(255, 148, 228);
}

nav {
    margin-top: 27px;
    display: flex;
    gap: 15px;
    flex-direction: row;
}

aside {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(190, 120, 255);
    color: whitesmoke;
    font-size: 1.3vw;
}

/*
input[type=checkbox] {
    transform: scale(1.3);
}
*/

aside #botao-filtrar {
    border: none;
    outline: 0;
    padding: 12px;
    margin-top: 20px;
    margin-left: 25%;
    color: white;
    background: linear-gradient(to right, #8375ff, #9553ff);
    /*background: linear-gradient(to right, #d269fc, #9d53ff);*/
    text-align: center;
    cursor: pointer;
    width: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border-radius: 30px 30px 30px 30px;
    transition: 0.3s;
    font-size: 1.1vw;
}

aside #botao-filtrar:hover {
    background: linear-gradient(to left, #8375ff, #9553ff);
}

aside #botao-filtrar:active {
    background: linear-gradient(to left, #8375ff, #9553ff);
}

aside .input {
    margin-left: 20%;
}

aside h3 {
    margin-left: 15px;
    color: rgb(255, 212, 254);
    background: -webkit-linear-gradient(white, rgb(255, 228, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*aside label {
    font-weight: 600;
    color: rgb(255, 232, 255);
    background: -webkit-linear-gradient(white, rgb(255, 235, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

aside p {
    font-weight: 600;
    color: rgb(255, 232, 255);
    background: -webkit-linear-gradient(white, rgb(255, 235, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

aside .text-label {
    margin-bottom: 3px;
}

input[type="number"] {
    font-size: 0.8em;
    border-radius: 5px;
    border: 1px solid #acabab;
    background-color: #e9e8e8;
    color: rgb(152, 46, 240);
    text-align: center;
    width: 80%;
    height: 16px;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(198, 128, 255);
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(255, 148, 228);
}

#divheader {
    display: flex;
    flex-direction: row;
    gap: 55%;
    margin-left: 20px;
}

#title {
    color: rgb(171, 58, 236);
    font-size: 40px;
    margin-top: 0.52em;
    border-top: solid;
    border-bottom: solid;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-color: rgb(186, 84, 245);
    border-radius: 6px 4px 6px 4px;
    padding-bottom: 9px;
    padding-top: 2px;
    background: -webkit-linear-gradient(rgb(116, 66, 255), rgb(206, 58, 236));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#fixed {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 170px;
}

#cartUpdate {
    display: none;
    width: 17px;
    height: 17px;
    border-radius: 20px 20px 20px 20px;
    float: right;
    background-color: rgb(228, 91, 255);
    color: whitesmoke;
    text-align: center;
    font-size: 0.75em;
}

#divpagename {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 45px;
    background-color: rgb(229, 123, 255);
    text-align: center;
}

#pagename {
    color: rgb(255, 212, 254);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.2em;
    /*padding-left: 1.5cm;*/
    background: -webkit-linear-gradient(white, rgb(255, 202, 254));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#divBkUpbtt {
    display: none;
    position: fixed;
    left: 92%;
    top: 87%;
}

#bkUpbtt {
    width: 58px;
    height: 58px;
    text-align: center;
    font-size: x-large;
    color: white;
    background: none;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid;
    border-color: rgb(212, 169, 253);
    background-color: rgb(198, 83, 255);
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

#bkUpbtt:hover {
    background-color: rgb(201, 98, 253);
}

#bkUpbtt:active {
    background-color: rgb(192, 65, 255);
}

.iconheader {
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
    background-size: 60px;
}

.iconheader:hover {
    opacity: 1;
}

.iconheader[value="home"] {
    background-image: url(../images/icons/shop.png);
}

/*.iconheader[value="user"] {
    background-image: url(../images/icons/user.png);
}*/

.iconheader[value="cart"] {
    background-image: url(../images/icons/shopping-cart.png);
}

.category {
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
    background-size: 60px;
    background-color: inherit;
}

.category:hover {
    opacity: 1;
}

.plabel {
    font-weight: 600;
    color: rgb(255, 232, 255);
    background: -webkit-linear-gradient(white, rgb(255, 235, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cat-selected {
    background-color: blue
}