body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 120px 50px auto 200px;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 120px;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(255, 148, 228);
}

nav {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50px;
    background-color: rgb(229, 123, 255);
}

aside {
    display: none;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(190, 120, 255);
}

main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(198, 128, 255);
}

object {
    width: 100%;
    height: 1200px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(255, 148, 228);
}

#divheader {
    display: flex;
    flex-direction: row;
    gap: 55%;
    margin-left: 20px;
}

#diviconsheader {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    flex-direction: row;
}

#title {
    color: rgb(171, 58, 236);
    font-size: 40px;
    margin-top: 0.52em;
    border-top: solid;
    border-bottom: solid;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-color: rgb(186, 84, 245);
    border-radius: 6px 4px 6px 4px;
    padding-bottom: 9px;
    padding-top: 2px;
    background: -webkit-linear-gradient(rgb(116, 66, 255), rgb(206, 58, 236));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#fixed {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 170px;
}

#divBkUpbtt {
    display: none;
    position: fixed;
    left: 92%;
    top: 87%;
}

#bkUpbtt {
    width: 58px;
    height: 58px;
    text-align: center;
    font-size: x-large;
    color: white;
    background: none;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid;
    border-color: rgb(212, 169, 253);
    background-color: rgb(198, 83, 255);
    cursor: pointer;
}

.iconheader {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}

.iconheader:hover {
    opacity: 1;
}

.iconheader>img {
    width: 60px;
    height: 60px;
}